<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザー新規登録</h2>

        <%# 「モデル名」にはUserモデルであれば@userを渡しましょう。%>
        <%# 「新規登録機能へのパス」は、devise導入後にrails routesを実行してdevise/registrations#createへのパスを確認し、記載してください。 %>
        <%= form_with model: @user, url: new_user_registration_path, local: true do |f| %>

        <div class="field">
          <%= f.label :hoge, "メールアドレス" %><br />
          <%= f.email_field :hoge, id:"user_email", autofocus: true, autocomplete: "on" %>
        </div>

        <div class="field">
          <%= f.label :hoge, "パスワード（6文字以上）" %><br />
          <%= f.password_field :hoge, id:"user_password", autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :hoge, "パスワード再入力" %><br />
          <%= f.password_field :password_confirmation, id:"user_password_confirmation", autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.label :name, "ユーザー名" %><br />
          <%= f.text_field :name, id:"user_name" %>
        </div>

         <div class="field">
          <%= f.label :kana_name, "カナユーザー名" %><br />
          <%= f.text_field :name, id:"user_name" %>
        </div>

        <div class="field">
          <%= f.label :departmemt, "部署" %><br />
          <%= f.text_area :department, class: :form__text, id:"user_occupation" %>
        </div>

        <div class="actions">
          <%= f.submit "新規登録", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>