<h1 class="time_content_title">【編集】今日の仕事内容と時間</h1>

<%= form_with(model: @time_content, url: time_content_path(@time_content.id), local: true) do |f| %>
<%= render 'shared/error_messages', model: f.object %>

  <div class="time_content_detail_title_1">
    <%= f.label :今日の日付, {:class => "date_title_style"} %>
    <%= f.label :実施時間, {:class => "time_title_style"} %> 
    <%= f.label :実施内容, {:class => "content_title_style"} %>
  </div>

  <div class="time_and_content">
    <div class="date">
      <%# <%= f.label :今日の日付 %> 
      <%= f.date_field :start_time, {:class => "date_style"}  %>
    </div>

    <div class="time">
      <%# <%= f.label :実施時間 %> 
      <%= f.collection_select(:time_step_id, TimeStep.all, :id, :name, {}, {:class => "time_style"}) %>
    </div>
    
    <div class="content">
      <%# <%= f.label :実施内容 %>
      <%= f.collection_select(:content_id, Content.all, :id, :name, {}, {:class => "content_style"}) %>
    </div>
  </div>

  <div class="time_content_detail_title_2">   
    <%= f.label :仕事詳細 %>
  </div>

  <div class="time_and_content_detail" >
    <div class="detial">
      <%# <%= f.label :仕事詳細 %>
      <%= f.text_area :detail, {:class => "detail_style"} %>
    </div>
  </div>
    
  <div class="submit_btn">
    <div class="submit">
      <%= f.submit "登録", {:class => "submit_style"} %>
    </div>
  </div>
  <div class="edit_back_btn_form" >
    <%= link_to '詳細検索ページへ戻る', detail_search_time_content_index_path, class: "edit_back_btn_detail" %><br><br>
  </div><br>

<% end %>