<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= current_user.name + "さん"%>
        <%= "、今日も一日頑張ろう！！" %><br><br>
        <%= "今日の仕事内容集計"%><br>
        <%= pie_chart @content_day_graph_data, colors: @background_colors %><br>
         <%= "1ヶ月の仕事内容集計"%><br>
        <%= pie_chart @content_month_graph_data, colors: @background_colors %><br>
         <%= link_to "時間内容登録", new_time_content_path, class: :nav__btn %>
      </div>
    <% end %>
    <%# <div class="card__wrapper"> %>
      <%= month_calendar events: @time_contents.order("time_step_id ASC") do |date, time_contents| %>
        <%= date.day %>
        <% time_contents.each do |time_content| %>
          <div>
            <%= link_to time_content.time_step.name, time_content_path(time_content.id) %>
          </div>
        <% end %>
      <% end %>
    <%# </div> %>
  </div>
</main>