<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <div class="greeting">
        <%= current_user.name + "さん"%>
        <%= "、今日も一日頑張ろう！！" %><br><br>
      </div>
      <div class="graph_explain">
        <h1 class="day_graph_explain">今日の仕事内容集計</h1>
        <%# <h1 class="week_graph_explain">1週間の仕事内容集計</h1> %>
        <h1 class="month_graph_explain">1ヶ月の仕事内容集計</h1>
      </div>
      <div class="graph">
        <%= pie_chart @content_day_graph_data, colors: @background_colors, width: "300px", class: "day_graph" %>
        <%# <%= pie_chart @content_week_graph_data, colors: @background_colors, width: "300px", class: "week_graph" %>
        <%= pie_chart @content_month_graph_data, colors: @background_colors, width: "300px", class: "month_graph" %>
      </div><br><br>
      <%= link_to "時間内容登録", new_time_content_path, class: :nav__btn %><br>
    <% else %>
       <div class="no_signed_in">
        <h1 class="day_graph_explain">参考データ</h1>
      </div><br>
    <% end %>
    <%# <div class="card__wrapper"> %>
      <%= month_calendar events: @time_contents do |date, time_contents| %>
        <%= date.day %>
        <% time_contents.each do |time_content| %>
          <div>
            <%= link_to time_content.time_step.name, time_content_path(time_content.id), class:"calendar_display" %>
          </div>
        <% end %>
      <% end %>
    <%# </div> %>
  </div>
</main>