<main class="main">
  <div class="inner">
    <% if user_signed_in? %>
      <h1 class="greeting">
        <%= current_user.name + "さん"%>
        <%= "、今日も一日頑張ろう！！" %><br><br>
      </h1>

      <div class="search_title">
        <h2 class="keyword_search_title">
          キーワード検索(仕事詳細内容)
        </h2>
        <h2 class="detail_search_title">
          詳細検索ボタン
        </h2>
      </div>
      <div class="search_content">
        <%= search_form_for @p, url: keyword_search_time_content_index_path, class: "search-form", local: true do |f| %>
          <%= f.text_field :detail_cont, class: 'input-box', placeholder:'キーワードから探す' %>
          <button class="search-button">
            <%= image_submit_tag "search.png", class:"search-icon" %>
          </button>
        <% end %>
        <%= link_to '詳細検索', detail_search_time_content_index_path, class: "detail-search" %></li>
      </div>

      <div class="hidden_box">
        <label for="btn-text">グラフ表示/非表示</label>
        <input type="checkbox" id="btn-text"/>
        <div class="hidden_show">
          <div class="graph_title">
            <h3 class="day_graph_title">今日の仕事内容集計</h3>
            <h3 class="week_graph_title">今週の仕事内容集計</h3>
            <h3 class="last_month_graph_title">前月合計時間</h3>
            <h3 class="month_graph_title">今月の仕事内容集計</h3>
          </div>
          <div class="graph">
            <%= pie_chart @content_day_graph_data, colors: @background_colors, width: "200px", class: "day_graph" %>
            <%= pie_chart @content_week_graph_data, colors: @background_week_colors, width: "200px", class: "week_graph" %>
            <%= pie_chart @content_last_month_graph_data, colors: @background_last_month_colors, width: "200px", class: "last_month_graph" %>
            <%= pie_chart @content_month_graph_data, colors: @background_month_colors, width: "200px", class: "month_graph" %>
          </div><br>

          <div class="total_time_title">
            <div class="day_total_time_title">今日の仕事と合計時間<br>["内容",時間(単位:分)]<br><br>
              <% @day_total_time.each do |day_total_time| %>
                <span class="total_time">
                  <%= day_total_time %>
                </span>
              <% end %>
            </div>
            <div class="week_total_time_title">今週の仕事と合計時間<br>["内容",時間(単位:分)]<br><br>
              <% @week_total_time.each do |week_total_time| %>
                <span class="total_time">
                  <%= week_total_time %>
                </span>
              <% end %>
            </div>
            <div class="last_month_total_time_title">前月の仕事と合計時間<br>["内容",時間(単位:分)]<br><br>
              <% @last_month_total_time.each do |last_month_total_time| %>
                <span class="total_time">
                  <%= last_month_total_time %>
                </span>
              <% end %>
            </div>
            <div class="month_total_time_title">今月の仕事と合計時間<br>["内容",時間(単位:分)]<br><br>
              <% @month_total_time.each do |month_total_time| %>
                <span class="total_time">
                  <%= month_total_time %>
                </span>
              <% end %>
            </div>
          </div><br> 
        </div>
      </div>

      <%= link_to "時間内容登録", new_time_content_path, class: :nav_register__btn %>
      <div class="hidden_box">
        <label for="btn-text2">カレンダー表示/非表示</label><br><br>
        <input type="checkbox" id="btn-text2"/>
        <div class="hidden_show">
          <%= month_calendar events: @time_contents do |date, time_contents| %>
            <%= link_to date, new_time_content_path, class: :nav_date_register__btn %>
            <% time_contents.each do |time_content| %>
              <div>
                <%= link_to time_content.content.name, time_content_path(time_content.id), class:"calendar_display" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="no_signed_in">
        <h1 class="day_graph_explain">デモ表示</h1>
        <img src="https://i.gyazo.com/e0c573405b617bb791bb4d7d19641415.png" alt="Image from Gyazo" width="1098"/></a>
      </div><br>
      <%= link_to "時間内容登録", new_time_content_path, class: :nav_register__btn %>
       <div class="hidden_box">
        <label for="btn-text2">カレンダー表示/非表示</label><br><br>
        <input type="checkbox" id="btn-text2"/>
        <div class="hidden_show">
          <%= month_calendar events: @time_contents do |date, time_contents| %>
            <%= link_to date, new_time_content_path, class: :nav_date_register__btn %>
            <% time_contents.each do |time_content| %>
              <div>
                <%= link_to time_content.content.name, time_content_path(time_content.id), class:"calendar_display" %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</main>