<div class="search">
  <h1 class="search-result">
    検索結果
  </h1>
  <% if @results.length !=0 %>
    <% @results.each do |result| %>
      <li class="searched-list">
        日付：<%= result.start_time %>
        <br>
        実施時間： <%= result.time_step.name %> 
        <br>
        実施内容：<%= result.content.name %>
        <br>
         実施内容：<%= result.ensure.name %>
        <br>
        詳細内容：<%= result.detail %>
      </li><br>
      <div>
        <ul class="more_list">
          <li>
            <%= link_to "編集する", edit_time_content_path(result.id), class: "search_edit" %>
            <%= link_to '削除する', time_content_path(result.id), method: :delete, class: "search_delete", data: { confirm: '削除しますか？' } %>
          </li>
        </ul><br>
      </div>
    <% end %>
  <% else %>
    該当する項目はありません
  <% end %>
  <br>
  <%= link_to "時間内容新規登録", new_time_content_path, class: "back_register__btn" %>
  <%= link_to 'トップページへ戻る', root_path, class: "back_btn_top" %>
  <%= link_to '詳細検索ページへ戻る', detail_search_time_content_index_path, class: "back_btn_detail" %><br><br>
</div>