<h1 class="time_content_title">今日の仕事内容と時間</h1>

<%= form_with(model: @time_content, url: time_content_index_path(@time_content.id), local: true) do |f| %>
<%= render 'shared/error_messages', model: f.object %>

  <div class="time_content_detail_title_1">
    <%= f.label :今日の日付, {:class => "date_title_style"} %>
    <%= f.label :開始時間, {:class => "begin_time_title_style"} %>
    <%= f.label :終了時間, {:class => "finish_time_title_style"} %> 
    <%= f.label :実施内容, {:class => "content_title_style"} %>
    <%= f.label :実施できる人, {:class => "ensure_title_style"} %>
  </div>

  <div class="time_and_content">
    <div class="date">
      <% if @time_content.start_time == nil %>
        <%= f.date_field :start_time, value: Date.today, class: "date_style"  %>
      <% elsif @time_content.start_time != nil %>
        <%= f.date_field :start_time, class: "date_style"  %>
      <% end %>
    </div>

    <div class="begin_time"> 
      <%= f.time_select(:begin_time, {class: "begin_time_style", prompt:'--', time_separator: ':', start_hour: 6, end_hour: 22, minute_step: 15}, ignore_data: true) %>
    </div>

    <div class="finish_time"> 
      <%= f.time_select(:finish_time, {class: "finish_time_style", prompt:'--', time_separator: ':', start_hour: 6, end_hour: 22, minute_step: 15}, ignore_data: true) %>
    </div>
    
    <div class="content">
      <%= f.collection_select(:content_id, Content.all, :id, :name, {}, {:class => "content_style"}) %>
    </div>

    <div class="ensure">
      <%= f.collection_select(:ensure_id, Ensure.all, :id, :name, {}, {:class => "ensure_style"}) %>
    </div>
  </div>

  <div class="time_content_detail_title_2">   
    <%= f.label :仕事詳細 %>
  </div>

  <div class="time_and_content_detail" >
    <div class="detial">
      <%= f.text_area :detail, {:class => "detail_style"} %>
    </div>
  </div>
    
  <div class="submit_btn">
    <div class="submit">
    <%= f.submit "登録", {:class => "submit_style"} %>
  </div>
  </div>

<% end %>