<main class="main">
  <div class="inner">
    <h1 class="each_record_title">その他データ内容</h1>

    <div class="each_hidden_box">
      <label for="btn-text6">昨日・金曜日・土曜日のグラフ 表示/非表示</label><br><br>
      <input type="checkbox" id="btn-text6"/>
      <div class="hidden_show">※土日に仕事がなければ、月曜日開いた際は「金曜日のグラフ」を表示<br>※土曜日に仕事があった場合、月曜日開いた際は「土曜日のグラフ」を表示<br>
        <div class="each_record_graph_title">
          <% if ((Date.today.sunday?) && (@task_saturday.length == 0)) && ((Date.today.next_occurring(:monday) || Date.today.monday?) && (@task_saturday.length == 0) && (@task_sunday.length == 0)) %>
            <h2 class="yesterday_graph_title">金曜日の仕事時間集計</h2>
            <h2 class="yesterday_reduce_graph_title">金曜日の削減可能時間集計</h2>
          <% elsif ((Date.today.monday?) && (@task_saturday.length > 0) && (@task_sunday.length == 0)) %>
            <h2 class="yesterday_graph_title">土曜日の仕事時間集計</h2>
            <h2 class="yesterday_reduce_graph_title">土曜日の削減可能時間集計</h2>
          <% else%>
            <h2 class="yesterday_graph_title">昨日の仕事時間集計</h2>
            <h2 class="yesterday_reduce_graph_title">昨日の削減可能時間集計</h2>
          <% end %>
        </div>
        <div class="each_record_graph">
          <% if ((Date.today.sunday) && (@task_saturday.length == 0)) && ((Date.today.next_occurring(:monday) || Date.today.monday) && (@task_saturday.length == 0) && (@task_sunday.length == 0)) %>
            <%= pie_chart @content_friday_graph_data, colors: @background_friday_colors, width: "250px", class: "day_graph" %>
            <%= pie_chart @content_friday_reduce_graph_data, colors: @background_friday_reduce_colors, width: "250px", class: "day_reduce_graph" %>
          <% elsif ((Date.today.monday?) && (@task_saturday.length > 0) && (@task_sunday.length == 0)) %>
            <%= pie_chart @content_saturday_graph_data, colors: @background_saturday_colors, width: "250px", class: "day_graph" %>
            <%= pie_chart @content_saturday_reduce_graph_data, colors: @background_saturday_reduce_colors, width: "250px", class: "day_reduce_graph" %>
          <% else %> 
            <%= pie_chart @content_yesterday_graph_data, colors: @background_yesterday_colors, width: "250px", class: "day_graph" %>
            <%= pie_chart @content_yesterday_reduce_graph_data, colors: @background_yesterday_reduce_colors, width: "250px", class: "day_reduce_graph" %>
          <% end %>
        </div><br>

        <div class="each_record_total_time_title">
          <% if ((Date.today.sunday) && (@task_saturday.length == 0)) && ((Date.today.next_occurring(:monday) || Date.today.monday) && (@task_saturday.length == 0) && (@task_sunday.length == 0)) %>
            <div class="yesterday_total_time_title">【金曜日の内容と合計時間】<br><br>
              <% @friday_total_time.each do |friday_total_time| %>
                <span class="each_record_total_time">
                  <%= friday_total_time[0] %>：<%= friday_total_time[1] %>時間
                </span>
              <% end %><br>
            </div>
          <% elsif ((Date.today.monday?) && (@task_saturday.length > 0) && (@task_sunday.length == 0)) %>
            <div class="yesterday_total_time_title">【土曜日の内容と合計時間】<br><br>
              <% @saturday_total_time.each do |saturday_total_time| %>
                <span class="each_record_total_time">
                  <%= saturday_total_time[0] %>：<%= saturday_total_time[1] %>時間
                </span>
              <% end %><br>
            </div>
          <% else %>
            <div class="yesterday_total_time_title">【昨日の内容と合計時間】<br><br>
              <% @yesterday_total_time.each do |yesterday_total_time| %>
                <span class="each_record_total_time">
                  <%= yesterday_total_time[0] %>：<%= yesterday_total_time[1] %>時間
                </span>
              <% end %><br>
            </div>
          <% end %><br>

          <% if ((Date.today.sunday) && (@task_saturday.length == 0)) && ((Date.today.next_occurring(:monday) || Date.today.monday) && (@task_saturday.length == 0) && (@task_sunday.length == 0)) %>
            <div class="yesterday_reduce_total_time_title">【金曜日の削減可能内容と時間】<br><br>
              <% @friday_reduce_total_time.each do |friday_reduce_total_time| %>
                <span class="each_record_total_time">
                  <%= friday_reduce_total_time[0] %>：<%= friday_reduce_total_time[1] %>時間
                </span>
              <% end %><br>
            </div>
          <% elsif ((Date.today.monday?) && (@task_saturday.length > 0) && (@task_sunday.length == 0)) %>
            <div class="yesterday_reduce_total_time_title">【土曜日の削減可能内容と時間】<br><br>
              <% @saturday_reduce_total_time.each do |saturday_reduce_total_time| %>
                <span class="each_record_total_time">
                  <%= saturday_reduce_total_time[0] %>：<%= saturday_reduce_total_time[1] %>時間
                </span>
              <% end %><br>
            </div>
          <% else %>
            <div class="yesterday_reduce_total_time_title">【昨日の削減可能内容と時間】<br><br>
              <% @yesterday_reduce_total_time.each do |yesterday_reduce_total_time| %>
                <span class="each_record_total_time">
                  <%= yesterday_reduce_total_time[0] %>：<%= yesterday_reduce_total_time[1] %>時間
                </span>
              <% end %><br>
            </div>
          <% end %>
        </div>

        <div class="each_record_total_time_t">
          <% if ((Date.today.sunday) && (@task_saturday.length == 0)) && ((Date.today.next_occurring(:monday) || Date.today.monday) && (@task_saturday.length == 0) && (@task_sunday.length == 0)) %>
            <div class="yesterday_total_time_t">合計時間：
              <% if @friday_total_time.present?%>
                <%= @friday_total_time.values.inject(:+)%>時間
              <% else %>
                <%= @friday_total_time.values.inject(:+)%>時間
              <% end %>
            </div>
            <div calss="yesterday_total_reduse_time_t">合計削減時間：
              <% if @friday_reduce_total_time.present?%>
                <%= @friday_reduce_total_time.values.inject(:+)%>時間
              <% else %>
                <%= @friday_reduce_total_time.values.inject(:+)%>時間
              <% end %>
            </div>
          <% elsif ((Date.today.monday?) && (@task_saturday.length > 0) && (@task_sunday.length == 0)) %>
             <div class="yesterday_total_time_t">合計時間：
              <% if @saturday_total_time.present?%>
                <%= @saturday_total_time.values.inject(:+)%>時間
              <% else %>
                <%= @saturday_total_time.values.inject(:+)%>時間
              <% end %>
            </div>
            <div calss="yesterday_total_reduse_time_t">合計削減時間：
              <% if @saturday_reduce_total_time.present?%>
                <%= @saturday_reduce_total_time.values.inject(:+)%>時間
              <% else %>
                <%= @saturday_reduce_total_time.values.inject(:+)%>時間
              <% end %>
            </div>
          <% else%>
            <div class="yesterday_total_time_t">合計時間：
              <% if @yesterday_total_time.present?%>
                <%= @yesterday_total_time.values.inject(:+)%>時間
              <% else %>
                <%= @yesterday_total_time.values.inject(:+)%>時間
              <% end %>
            </div>
            <div calss="yesterday_total_reduse_time_t">合計削減時間：
              <% if @yesterday_reduce_total_time.present?%>
                <%= @yesterday_reduce_total_time.values.inject(:+)%>時間
              <% else %>
                <%= @yesterday_reduce_total_time.values.inject(:+)%>時間
              <% end %>
            </div>
          <% end %>
        </div><br><br><br>
      </div>
    </div>



    <div class="each_hidden_box">
      <label for="btn-text4">今週のグラフ 表示/非表示</label><br><br>
      <input type="checkbox" id="btn-text4"/>
      <div class="hidden_show">
        <div class="each_record_graph_title">
          <h2 class="week_graph_title">今週の仕事時間集計</h2>
          <h2 class="week_reduce_graph_title">今週の削減可能時間集計</h2>
        </div>
        <div class="each_record_graph">
          <%= pie_chart @content_week_graph_data, colors: @background_week_colors, width: "250px", class: "day_graph" %>
          <%= pie_chart @content_week_reduce_graph_data, colors: @background_week_reduce_colors, width: "250px", class: "day_reduce_graph" %>
        </div><br>

        <div class="each_record_total_time_title">
          <div class="week_total_time_title">【今週の内容と合計時間】<br><br>
              <% @week_total_time.each do |week_total_time| %>
                <span class="each_record_total_time">
                  <%= week_total_time[0] %>：<%= week_total_time[1] %>時間
                </span>
              <% end %><br>
          </div>
          <div class="week_reduce_total_time_title">【今週の削減可能内容と時間】<br><br>
            <% @week_reduce_total_time.each do |week_reduce_total_time| %>
              <span class="each_record_total_time">
                <%= week_reduce_total_time[0] %>：<%= week_reduce_total_time[1] %>時間
              </span>
            <% end %><br>
          </div>
        </div>
        <div class="each_record_total_time_t">
          <div class="week_total_time_t">合計時間：
            <% if @week_total_time.present?%>
              <%= @week_total_time.values.inject(:+)%>時間
            <% else %>
              <%= @week_total_time.values.inject(:+)%>時間
            <% end %>
          </div>
          <div calss="week_total_reduse_time_t">合計削減時間：
            <% if @week_reduce_total_time.present?%>
              <%= @week_reduce_total_time.values.inject(:+)%>時間
            <% else %>
              <%= @week_reduce_total_time.values.inject(:+)%>時間
            <% end %>
          </div>
        </div><br><br><br>
      </div>
    </div>


    <div class="each_hidden_box">
      <label for="btn-text3">先週のグラフ 表示/非表示</label><br><br>
      <input type="checkbox" id="btn-text3"/>
      <div class="hidden_show">
        <div class="each_record_graph_title">
          <h2 class="last_week_graph_title">先週の仕事時間集計</h2>
          <h2 class="last_week_reduce_graph_title">先週の削減可能時間集計</h2>
        </div>
        
        <div class="each_record_graph">
          <%= pie_chart @content_last_week_graph_data, colors: @background_last_week_colors, width: "250px", class: "last_week_graph" %>
          <%= pie_chart @content_last_week_reduce_graph_data, colors: @background_last_week_reduce_colors, width: "250px", class: "last_week_reduce_graph" %>
        </div><br>

        <div class="each_record_total_time_title">
          <div class="last_week_total_time_title">【先週の内容と合計時間】<br><br>
              <% @last_week_total_time.each do |last_week_total_time| %>
                <span class="each_record_total_time">
                  <%= last_week_total_time[0] %>：<%= last_week_total_time[1] %>時間
                </span>
              <% end %><br>
          </div>
          <div class="last_week_reduce_total_time_title">【先週の削減可能内容と時間】<br><br>
            <% @last_week_reduce_total_time.each do |last_week_reduce_total_time| %>
              <span class="each_record_total_time">
                <%= last_week_reduce_total_time[0] %>：<%= last_week_reduce_total_time[1] %>時間
              </span>
            <% end %><br>
          </div>
        </div>
        <div class="each_record_total_time_t">
          <div class="last_week_total_time_t">合計時間：
            <% if @last_week_total_time.present?%>
              <%= @last_week_total_time.values.inject(:+)%>時間
            <% else %>
              <%= @last_week_total_time.values.inject(:+)%>時間
            <% end %>
          </div>
          <div calss="last_week_total_reduse_time_t">合計削減時間：
            <% if @last_week_reduce_total_time.present?%>
              <%= @last_week_reduce_total_time.values.inject(:+)%>時間
            <% else %>
              <%= @last_week_reduce_total_time.values.inject(:+)%>時間
            <% end %>
          </div>
        </div><br><br><br>
      </div>
    </div>



    <div class="each_hidden_box">
      <label for="btn-text5">先月のグラフ 表示/非表示</label><br><br>
      <input type="checkbox" id="btn-text5"/>
      <div class="hidden_show">
        <div class="each_record_graph_title">
          <h2 class="last_month_graph_title">先月の仕事時間集計</h2>
          <h2 class="last_month_reduce_graph_title">先月の削減可能時間集計</h2>
        </div>
        <div class="each_record_graph">
          <%= pie_chart @content_last_month_graph_data, colors: @background_last_month_colors, width: "250px", class: "day_graph" %>
          <%= pie_chart @content_last_month_reduce_graph_data, colors: @background_last_month_reduce_colors, width: "250px", class: "day_reduce_graph" %>
        </div><br>

        <div class="each_record_total_time_title">
          <div class="last_month_total_time_title">【先月の内容と合計時間】<br><br>
              <% @last_month_total_time.each do |last_month_total_time| %>
                <span class="each_record_total_time">
                  <%= last_month_total_time[0] %>：<%= last_month_total_time[1] %>時間
                </span>
              <% end %><br>
          </div>
          <div class="last_month_reduce_total_time_title">【先月の削減可能内容と時間】<br><br>
            <% @last_month_reduce_total_time.each do |last_month_reduce_total_time| %>
              <span class="each_record_total_time">
                <%= last_month_reduce_total_time[0] %>：<%= last_month_reduce_total_time[1] %>時間
              </span>
            <% end %><br>
          </div>
        </div>
        <div class="each_record_total_time_t">
          <div class="last_month_total_time_t">合計時間：
            <% if @last_month_total_time.present?%>
              <%= @last_month_total_time.values.inject(:+)%>時間
            <% else %>
              <%= @last_month_total_time.values.inject(:+)%>時間
            <% end %>
          </div>
          <div calss="last_month_total_reduse_time_t">合計削減時間：
            <% if @last_month_reduce_total_time.present?%>
              <%= @last_month_reduce_total_time.values.inject(:+)%>時間
            <% else %>
              <%= @last_month_reduce_total_time.values.inject(:+)%>時間
            <% end %>
          </div>
        </div><br>
      </div>
    </div>
  </div>
</div>