<main class="main">
  <div class="inner">
    <div class="successful">
      <p class="success"><%= flash[:success] %></p>
    </div>
    <div class="time_content__wrapper">
      <p class="time_content__hedding">
        <%= "【詳細】今日の仕事内容と時間"%>
      </p>
        <div class="time_content__manage">
          <%= link_to "編集する", edit_time_content_path(@time_content.id), class: :time_content_edit__btn %>
          <%= link_to "削除する", time_content_path(@time_content.id), method: :delete, class: :time_content_delete__btn, data: { confirm: '削除しますか？' } %>
        </div>
      <div class="prototype__body">
        <div class="time_content__detail">
          <p class="time_content__title">日付</p>
          <p class="time_content__message"> 
            <%= @time_content.start_time %>
          </p>
          <p class="time_content__title">時間</p>
          <p class="time_content__message">
            <%= @time_content.time_step.name %>
          </p>
          <p class="time_content__title">内容</p>
          <p class="time_content__message">
            <%= @time_content.content.name %>
          </p>
          <p class="time_content__title">詳細</p>
          <p class="time_content__message">
            <%= @time_content.detail %>
          </p>
           <%= link_to 'トップページへ戻る', root_path, class: "back_btn_top" %>
        </div>
      </div>
    </div>
  </div>
</main>
