<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= "時間内容詳細"%>
      </p>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_time_content_path(@time_content.id), class: :prototype__btn %>
          <%= link_to "削除する", time_content_path(@time_content.id), method: :delete, class: :prototype__btn %>
        </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">日付</p>
          <p class="detail__message"> 
            <%= @time_content.start_time %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">時間</p>
          <p class="detail__message">
            <%= @time_content.time_step.name %>
          <p class="detail__title">内容</p>
          <p class="detail__message">
            <%= @time_content.content.name %>
          <p class="detail__title">詳細</p>
          <p class="detail__message">
            <%= @time_content.detail %>
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
