<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TimeManage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
  </head>

  <% if user_signed_in? %>
  <body onload=setTimeout('a()',1000)>
      <SCRIPT language="JavaScript">
      <!--
      
       function a() {
         if (window.name != "http://localhost:3000/") {
            
          swal("仕事内容の登録し忘れはありませんか？");
         
          window.name = "http://localhost:3000/";
         }
       }
     // -->
    //  <!--
    //    function a() {

    //        swal("仕事内容の登録し忘れはありませんか？");
    //    }
    //  // -->
     </SCRIPT>
  <% end %>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to(root_path, class: :title) do %>
              <%= image_tag 'TIME MANAGE.png' , size: '200x100'  %>
            <% end %>
          </div>
          <% if user_signed_in? %>
           <h2 class="greeting">
            今日は
            <%= Date.today.strftime("%Y年%m月%d日") %>
            です。<br>
            <%= current_user.name + "さん"%>
            <%= "、今日も一日頑張ろう！！" %>
          </h2>
            <div class="nav__right">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: :nav__logout, data: { confirm: 'ログアウトしますか？' } %>
            </div>
          <% else %>
            <div class="nav__right">
              <%= link_to "新規登録", new_user_registration_path, class: :nav_up__btn %>
              <%= link_to "ログイン",  new_user_session_path, class: :nav_in__btn %>
              <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: :nav_test_in__btn %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright © TIME MANAGE All rights reserved.</p>
    </footer>
  </body>
</html>
